<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="family.nce1.offline" android:versionCode="1" android:versionName="1.0.0">
    <queries><intent><action android:name="android.intent.action.TTS_SERVICE"/></intent></queries>
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <application android:label="新概念英语·家庭学习" android:icon="@drawable/app_icon" android:allowBackup="false" android:usesCleartextTraffic="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
